# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore other unneeded files.
database.yml
doc/
*.swp
*.swo
*~
.project
.DS_Store
.idea
.secret
gitlogfile.txt
myreplace
app/assets/images/portraits
db/schema.rb
public/download_files/*
public/files/*
